.main_notfound {
    background-color: white;
    top: 0;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
}
.heading_notfound {
    text-align: center;
    padding-top: 167px; 
}
.anchor_notfound {
    text-align: center;
    padding-top: 167px; 
    color:black;
    
}